{% extends "base.html" %}

{% block content %}
  
<h1>player 1</h1>

    <!-- symbols -->
    <section class="rvs-symbols">

        <article class="single-rvs-symbol rvs-symbol-1">
            <div class="cointainer">
                <div class="rvs-text">
                    <a href="/rock" class="boxed-btn3">rock</a>
                </div>
            </div>
        </article>
    
        <article class="single-rvs-symbol rvs-symbol-2">
            <div class="cointainer">
                <div class="rvs-text">
                    <a href="/paper" class="boxed-btn3">paper</a>
                </div>
            </div>
        </article>
    
        <article class="single-rvs-symbol rvs-symbol-3">
            <div class="cointainer">
                <div class="rvs-text">
                    <a href="/scissors" class="boxed-btn3">scissors</a>
                </div>
            </div>
        </article>
    </section>
    <!-- symbols -->

{% endblock %}






